*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

button {
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
