$colors: (
  ash: #e0e0e0,
  black: #000000,
  dark-grey: #444444,
  grey: #4a4a4a,
  light-blue: #eef5fc,
  light-purple: #b4b0fb,
  primary: #ff4040,
  purple: #5698f0,
  secondary: #2f80ed,
  tertiary: #5698f0,
  white: #ffffff
);

$font-families: ();

$font-weights: (
  regular: 400,
  semi-bold: 600,
  bold: 700,
  black: 800
);

$font-sizes: (
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 24px,
  m-large: 35px,
  x-large: 40px,
  xx-large: 70px
);
